<h3 class="content">All Files</h3>

<table class="table">
	<tr>
		<th>File Name</th>
		<th>File Size</th>
		<th>Date</th>
		<th>Time</th>
		<% if (change_permission){ %>
			<th></th>
		<% } %>
	</tr>

	<% files.each(function(file){ %>
		<tr id="file-<%= file.get("id") %>" style="display:none">
			<td>
				<a class="file-name" href='<%= file.escape("url") %>?dl=true'
				></a>
			</td>

			<td>
				<%= file.escape("date") %>
			</td>

			<td>
				<%= file.escape("time") %>
			</td>

			<% if (change_permission){ %>
				<td>
					<button id="<%= file.escape("id") %>" class="btn btn-danger remove-file">Remove</button>
				</td>
			<% } %>
		</tr>
	<% }) %>
</table>

