<div id="banner">
   Welcome <%= current_user.first_name %> to Stanford College Student Space
</div>

<div id="view">
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script>
  currentUser = Scbt.Models.user = new Scbt.Models.User(
    <%= current_user.to_json({only: [:id, :permission, :email]}).html_safe %>
  )
  $(Scbt.initialize)
</script>

<!-- File picker -->
<%= filepicker_js_include_tag %>
<script type="text/javascript">
  filepicker.setKey('<%= ENV["FILE_PICKER_API_KEY"] %>')
</script>

<!-- Google Map -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>">
</script>
