<nav id="nav-container" class="navbar navbar-default">
    <div class="container-fluid">
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      	<ul class="nav navbar-nav">
	        	<li class="tab"><a href="#">Profile</a></li>
	      	</ul>
	    </div>
    </div>
</nav>

<div style="width:300px; height:300px">
    <a href="#" class="thumbnail">
      <%= image_tag("root/profile_photo.jpg") %>
    </a>
</div>
<br>

<div style="width:500px; height:100px">
	Hello. My name is Gerald Ding. I specialize in building full stack web applications with Ruby on Rails. I am also experienced in building real-time applications with node. I worked with SQL and Mongo databases. I am graduating in April and I am looking for a full time position.
</div> 

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<center><h2>Projects</h2></center>
<table class="space-table">
<tr>
	<td>
		<div style="width:200px; height:200px" class="web-thumb">
			<center><h4>Student Portal</h4></center>
			<a href="<%= request.host_with_port %>/home" class="thumbnail">
		      <%= image_tag("root/projects/scbt.jpg") %>
		    </a>
		</div>
	</td>

	<td>
		<div style="width:200px; height:200px" class="web-thumb">
			<center><h4>Timeline Monitor</h4></center>
			<a href="http://geralddzx.github.io/?tm" class="thumbnail">
		      <%= image_tag("root/projects/monitor.jpg") %>
		    </a>
		</div>
	</td>

	<td>
		<div style="width:200px; height:200px" class="web-thumb">
			<center><h4>Student Portal</h4></center>
			<a href="http://geralddzx.github.io/?sw" class="thumbnail">
		      <%= image_tag("root/projects/space.jpg") %>
		    </a>
		</div>
	</td>
</tr>
</table>

<script>
	// var webThumbs = $('.web-thumb')
	// webThumbs.each(function(index){
	// 	var thumb = webThumbs[index]
	// 	html2canvas($('body'), {proxy: $(thumb).prop('src')}, function(canvas){
	// 		thumb.append(canvas)
	// 	})
	// })
</script>