<h4>All Enrollments</h4>
<table class="table" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th>Student Name</th>
    <th>Status</th>
    <th>Approved by</th>
  </tr>
  
  <% course.enrollments.each(function(enrollment){ %>
    <% if (enrollment.get("status") == "PENDING"){ %>
      <tr class="warning">
    <% } else { %>
      <tr class="success">
    <% } %>

      <td>
        <%= enrollment.escape("first_name") %> <%= enrollment.escape("last_name") %>  
      </td>
      <td>
        <%= enrollment.get("status") %>
      </td>  
      
      <% if (enrollment.get("status") == "PENDING"){ %>
        <td></td>
        <td>
          <button class="approve-enrollment" id="<%= enrollment.get("id") %>">Approve enrollment</button>
        </td>
      <% } else { %>
        <td>
          <%= enrollment.approver.get("email") %>
        </td>
      <% } %>  
      
    </tr>
  <% }) %>
</table>