Number of Students: <%= course.enrollments.where({status: "APPROVED"}).length %>
<br>

<a href="#courses/<%= course.id %>/edit">Edit This Course</a>
<h4>All Enrollments</h4>
<ul>
  <% course.enrollments.each(function(enrollment){ %>
    <li>
      Student Name: <%= enrollment.escape("first_name") %> <%= enrollment.escape("last_name") %>  
      <br>
      Status: <%= enrollment.get("status") %>
      <% if (enrollment.get("status") == "PENDING"){ %>
        <button class="approve-enrollment" id="<%= enrollment.get("id") %>">Approve enrollment</button>
      <% } else { %>
        Approved By: <%= enrollment.approver.get("email") %>
      <% } %>
    </li>
  <% }) %>
</ul>

