<h3><%= title %> Course</h3>
<form>
  <label for="name">Name</label>
  <input type="text" name="course[name]" 
    value="<%= course.escape("name") %>" id="name">
  
  <label for="code">Code</label>
  <input type="text" name="course[code]" 
    value="<%= course.escape("code") %>" id="code">
  
  <label for="start-date">Start Date</label>
  <input type="date" name="course[start_date]" 
    value="<%= course.escape("start_date") %>" id="start-date">
  
  <label for="end-date">End Date</label>
  <input type="date" name="course[end_date]" 
    value="<%= course.escape("end_date") %>" id="end-date">
  
  <label for="hours">Hours</label>
  <input type="number" name="course[hours]" 
    value="<%= course.escape("hours") %>" id="hours">

  <input type="submit" value="<%= action %> Course">
</form>