<% if (permission != "STUDENT"){ %>
  <a href="#courses/new" class="btn btn-default">Create New Course</a>
<% } %>

<br>

<h3>All Courses</h3>
<ul>
  <% courses.each(function(course){ %>
    <li>
      <a href="#courses/<%= course.id %>">
        <%= course.escape("name") %> <%= course.escape("code") %>
      </a>
      <% if (permission != "STUDENT"){ %>
        <button class="remove-course" id="<%= course.id %>">Remove Course</button>
        <a href="#courses/<%= course.id %>/edit">Edit Course</a>
      <% } %>
    </li>
  <% }) %>
</ul>



