<h3>All Courses</h3>

<% if (Scbt.Models.user.permissionType() == "admin"){ %>
  <a href="#courses/new" class="btn btn-default">Create New Course</a>
<% } %>

<table border="0" cellspacing="5" cellpadding="5">

  <% courses.each(function(course){ %>
    <tr>
      <td class="courses-data">
        <a href="#courses/<%= course.id %>">
          <%= course.escape("name") %>
        </a>
      </td>
      <% if (courses.url.indexOf("user") != -1){ %>
        <td>Start Date<%= course.escape("start_date") %></td>
        <td>End Date<%= course.escape("end_date") %></td>
        <td>Status <%= course.escape("status") %></td>
        <td>Grade <%= course.escape("grade") %></td>
      <% } %>
      
      <% if (Scbt.Models.user.permissionType() === "admin"){ %>
        <td><a class="btn btn-info" href="#courses/<%= course.id %>/edit">Edit Course</a></td>
        <td><button class="remove-course btn btn-danger" id="<%= course.id %>">Remove Course</button>
      <% } %>
    </tr>
  <% }) %>
</table>


