<h2><%= course.get('name') %></h2>

<table border="0" cellspacing="5" cellpadding="5">  
  <tr>
    <td>Code</td>
    <td><%= course.get('code') %></td>
  </tr>
  
  <tr>
    <td>Start Date</td>
    <td><%= course.get('start_date') %></td>
  </tr>
  
  <tr>
    <td>End Date</td>
    <td><%= course.get('end_date') %></td>
  </tr>
  
  <tr>
    <td>Hours</td>
    <td><%= course.get('hours') %></td>
  </tr>
</table>
<% if (course.enrollment.get("status")){ %>
  Enrollment status: <%= course.enrollment.escape("status") %>
<% } else if (permission === "STUDENT") { %>
  <button class="enroll-course">Enroll in this Course</button>
<% } %>