<h3>My Courses</h3>
<table class="table" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
    <th>Grade</th>
  </tr>
  
  <% courses.each(function(course){ %>
    <% if (course.get("status") == "PENDING"){ %>
      <tr class="warning">
    <% } else if (course.get("status") == "APPROVED"){ %>
      <tr class="success">
    <% } %>

      <td>
        <a href="#courses/<%= course.get("id") %>">
          <%= course.escape("name") %>
        </a>
      </td>
      
      <td>
        <%= course.escape("start_date") %>
      </td>
      
      <td>
        <%= course.escape("end_date") %>
      </td>  
      
      <td>
        <%= course.escape("status") %>
      </td>
      
      <td>
        <%= course.escape("grade") %>
      </td>      
    </tr>
  <% }) %>
</table>

