<a href="#">Home</a> >
<a href="#profile">Profile</a><br> 

<h3>Profile</h3> 
<a class="btn btn-info btn-head" href="#profile/edit">Edit Profile</a><br>

<table id="profile-table">
<tr>
  <td id="personal-info">
    <table class="table th-bold">
      <tr>
        <td>First Name</td>
        <td><%= user.escape("first_name") %></td>
      </tr>
      
      <tr>
        <td>Last Name</td>
        <td><%= user.escape("last_name") %></td>
      </tr>
      
      <tr>
        <td>Street</td>
        <td><%= user.escape("street") %></td>
      </tr>

      <tr>
        <td>City</td>
        <td><%= user.escape("city") %></td>
      </tr>

      <tr>
        <td>Country</td>
        <td><%= user.escape("country") %></td>
      </tr>

      <tr>
        <td>Postal Code</td>
        <td><%= user.escape("postal_code") %></td>
      </tr>

      <tr>
        <td>Phone</td>
        <td><%= user.escape("phone") %></td>
      </tr>
    </table>
  </td>
  
  <td id="profile-uploader"></td>
</tr>
</table>



