<h3 class="content"><%= program.get('name') %></h3>
<% if (Scbt.Models.user.admin()){ %>
  <a class="btn btn-info btn-head" href="#programs/<%= program.id %>/edit">Edit This Program</a>
<% } else if (program.enrollment){ %>
  <a class="btn btn-success btn-head" href="#programs/<%= program.id %>/survey">Take Program Survey</a>

  <% if (program.instructor){ %>
    <a class="btn btn-success btn-head" href="#users/<%= program.instructor.get("id") %>/survey">Take Instructor Survey</a>
  <% } %>
<% } %>

<table class="d1" border="0" cellspacing="10" cellpadding="10">  
  <tr>
    <td>Code</td>
    <td><%= program.escape('code') %></td>
  </tr>
  
  <tr>
    <td>Start Date</td>
    <td><%= program.escape('start_date') %></td>
  </tr>
  
  <tr>
    <td>End Date</td>
    <td><%= program.get('end_date') %></td>
  </tr>
  
  <tr>
    <td>Hours</td>
    <td><%= program.get('hours') %></td>
  </tr>
  
  <tr>
    <td>Instructor</td>
    <td>
      <% if (program.instructor){ %>
        <%= program.instructor.escape('first_name') %> <%= program.instructor.escape('last_name') %>
      <% } %>
    </td>
  </tr>
  
  <% if (Scbt.Models.user.admin()){ %>
    <tr>
      <td>
        Number of Students: 
      </td>
      <td>
        <%= program.enrollments.where({status:  "APPROVED"}).length %>
      </td>
    </tr>
  <% } %>
</table>

<br><br>


<div id="user"></div>