<h3>All Programs</h3>

<% if (Scbt.Models.user.permissionType() == "admin"){ %>
  <a href="#programs/new" class="btn btn-default">Create New Program</a>
<% } %>

<table border="0" cellspacing="5" cellpadding="5">

  <% programs.each(function(program){ %>
    <tr>
      <td class="programs-data">
        <a href="#programs/<%= program.id %>">
          <%= program.escape("name") %>
        </a>
      </td>
      <% if (programs.url.indexOf("user") != -1){ %>
        <td>Start Date<%= program.escape("start_date") %></td>
        <td>End Date<%= program.escape("end_date") %></td>
        <td>Status <%= program.escape("status") %></td>
        <td>Grade <%= program.escape("grade") %></td>
      <% } %>
      
      <% if (Scbt.Models.user.permissionType() === "admin"){ %>
        <td><a class="btn btn-info" href="#programs/<%= program.id %>/edit">Edit Program</a></td>
        <td><button class="remove-program btn btn-danger" id="<%= program.id %>">Remove Program</button>
      <% } %>
    </tr>
  <% }) %>
</table>


