<a href="#">Home</a> >
<a href="#my/programs/index">My Programs</a><br>

<h3>My Programs</h3>
<table class="table" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
    <th>Grade</th>
  </tr>
  
  <% programs.each(function(program){ %>
    <% if (program.get("status") == "PENDING"){ %>
      <tr class="warning">
    <% } else if (program.get("status") == "APPROVED"){ %>
      <tr class="success">
    <% } %>

      <td>
        <a href="#programs/<%= program.get("id") %>">
          <%= program.escape("name") %>
        </a>
      </td>
      
      <td>
        <%= program.escape("start_date") %>
      </td>
      
      <td>
        <%= program.escape("end_date") %>
      </td>  
      
      <td>
        <%= program.escape("status") %>
      </td>
      
      <td>
        <%= program.escape("grade") %>
      </td>      
    </tr>
  <% }) %>
</table>

