<h3><%= title %>Campus</h3><br>
<form>
  <label for="name">Name
    <input type="text" name="campus[name]" 
      value="<%= campus.escape("name") %>" id="name">
  </label>

  <label for="street">Street
    <input type="text" name="campus[street]" 
      value="<%= campus.escape("street") %>" id="street">
  </label>

  <label for="city">City
    <input type="text" name="campus[city]" 
      value="<%= campus.escape("city") %>" id="city">
  </label>

  <label for="country">Country
    <input type="text" name="campus[country]" 
      value="<%= campus.escape("country") %>" id="country">
  </label>
  
  <% if (Scbt.Models.user.master_admin){ %>
    <label>Select a Manager
      <select name="campus[manager_id]">
        <option value="">No Manager</option>
        <% campus.admins.each(function(admin){ %>
          <option value="<%= admin.get("id") %>">
            <%= instructor.get("first_name") %> <%= instructor.get("last_name") %>
          </option>
        <% }) %>
      </select>
    </label>
  <% } %>

  <input class="btn btn-primary btn-block" type="submit" value="<%= action %> Program">
</form>