<h3><%= campus.get('name') %></h3>
<% if (Scbt.Models.user.permissionType() == "admin"){ %>
  <a class="btn btn-info btn-head" href="#campuses/<%= campus.id %>/edit">Edit This Program</a>
<% } %>

<table class="table" border="0" cellspacing="5" cellpadding="5">  
  <tr>
    <td>Manager</td>
    <td>
    	<% if (campus.manager){ %>
      	<%= campus.manager.get("first_name") %>
      	<%= campus.manager.get("last_name") %>
      <% } %>
    </td>
  </tr>

  <tr>
    <td>Street</td>
    <td>
      <%= campus.get("street") %>
    </td>
  </tr>

  <tr>
    <td>City</td>
    <td>
      <%= campus.get("city") %> 
    </td>
  </tr>

  <tr>
    <td>Postal Code</td>
    <td>
      <%= campus.get("postal_code") %>
    </td>
  </tr>

  <tr>
    <td>Country</td>
    <td>
      <%= campus.get("country") %>
    </td>
  </tr>
</table>

  