<!DOCTYPE html>
<html>
<head>
  <title>Stanford College Student Space</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/header"  %>
  <p><%= flash[:notices] %></p>
  <p><%= flash[:errors] %></p>

<%= yield %>

</body>
</html>
