<!DOCTYPE html>
<html>
<head>
  <title>Stanford College Student Space</title>
  <%= filepicker_js_include_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "/favicon.ico" %>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>">
  </script>
</head>
<body>
  <%= render partial: "layouts/header" %>
  <p><%= flash[:notices] %></p>
  <p><%= flash[:errors] %></p>
  <script>
    <% if flash[:alert] %>
      alert('<%= flash[:alert] %>')
    <% end %>
  </script>

<%= yield %>

</body>
</html>
